*::-webkit-scrollbar {
    width: 20px;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #794EDA;
}
p{
    margin-bottom: 0;
}
.chat-left-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(66, 11, 161, 0.2);
    text-align: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.chat-left-bar i{
    font-size: 18px;
    padding: 10px;
    margin-bottom: 35px;
    display: block;
    background-color: #F4F4FA;
    border-radius: 5px;
    cursor: pointer;
}
.chat-left-bar img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.recent-chat-wraper{
    padding: 20px;
    max-height: 100vh;
    overflow: auto;
    border-right: 1px solid #eee;
    width: 100%;
}
.recent-chat-wraper .chat-title{
    font-weight: 600;
    margin-bottom: 20px;
}
.recent-chats .single-recent-chat{
    display: flex;
    align-items: center;
}
.single-recent-chat .chat-recent-user-img img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.single-recent-chat{
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.single-recent-chat:hover{
    background-color: #5e17eb0c;
}
.recent-main-chat-wraper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.recent-main-chat-wraper .chat-user{
    font-weight:600;
    margin-bottom: 7px;
    font-size: 15px;
}
.recent-main-chat-wraper .chat-date{
    color: #9F9F9F ;
    font-weight: 500;
    font-size: 12px;
}
.recent-main-chat-wraper .recent-chat-chat{
    color: #232323;
    font-size: 13px;
}


.chat-body-from{
    display: flex;
    align-items: flex-end;
    width: 90%;
    max-width: 900px;
}
.chat-body-from .chat-body-img img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 20px;
}
.chat-body-from .chat-body-chat .chat-body-chat-main{
    background-color: #794EDA;
    padding: 15px;
    border-radius: 20px 20px 20px 0;
    color: #fff;
    margin-top: 5px;
}
.chat-body-from .chat-body-chat .chat-body-chat-main .time{
    display: block;
    color: rgb(247 247 247 / 87%);
    font-size: 11px;
    font-weight: 400;
    margin-top: 5px;
}
.chat-body-from .chat-body-chat .chat-body-chat-main .time::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f017";
    margin-right: 2px;
}
.chat-body-from .chat-body-chat .chat-body-chat-name{
    color: #8345A8;
    font-weight: 600;
    font-size: 15px;
    margin-top: 5px;
}







.chat-body-to{
    display: flex;
    align-items: flex-end;
    text-align: justify;
    margin-left: 200px;
    justify-content: flex-end;
}
.chat-body-to .chat-body-img img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-left: 20px;
}
.chat-body-to .chat-body-chat .chat-body-chat-main{
    background-color: #E4E6EB;
    color: #232323;
    padding: 15px;
    border-radius: 20px 20px 0 20px;
    margin-top: 5px;
}
.chat-body-to .chat-body-chat .chat-body-chat-main .time{
    display: block;
    color: #000000d1;
    font-size: 11px;
    font-weight: 400;
    margin-top: 5px;
}
.chat-body-to .chat-body-chat .chat-body-chat-main .time::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f017";
    margin-right: 2px;
}
.chat-body-to .chat-body-chat .chat-body-chat-name{
    color: #8345A8;
    font-weight: 600;
    font-size: 15px;
    margin-top: 5px;
    text-align: right;
}



.chats-inside-wraper{
    padding: 10px;
    max-height: 85vh;
    overflow: auto;
}




.chat-body-title-bar{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-body-title-bar .top-bar-icons i{
    margin-right: 20px;
    cursor: pointer;
}
.chat-body-title-bar .chat-body-user-img img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.chat-body-title-bar .chat-body-user-name .c-name{
    font-size: 16px;
    font-weight: 600;
    color: #4B0973;
}
.chat-body-title-bar .chat-body-user-name .c-status{
    color: #008024;
    font-weight: 500;
    font-size: 14px;
}

.chat-input-main-wraper{
    position: relative;
    width: 100%;
    /* margin-top: 20px; */
}
.chat-input-main-wraper .main-input{
    position: absolute;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #F4EEFF;
    box-shadow: 0px 4px 4px #F5F8FF;
    border-radius: 175px;
    height: 55px;
    padding:10px 70px 10px 110px;
    outline: none;
}
.chat-input-main-wraper .main-submit{
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 2;
    font-size: 15px;
    cursor: pointer;
    background-color: #794EDA;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
}
.chat-input-main-wraper .fa-smile{
    position: absolute;
    left: 20px;
    top: 18px;
    z-index: 2;
    font-size: 20px;
    cursor: pointer;
}
.chat-input-main-wraper .main-attach{
    position: absolute;
    left: 65px;
    top: 18px;
    z-index: 2;
    font-size: 20px;
    cursor: pointer;
}